<launch>  
  <arg name="port" default="/dev/ttyACM0" />
  <node pkg="arduino_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(find razor_imu_9dof)/config/my_razor.yaml" command="load"/>
    <param name="port" value="$(arg port)"/>  
  </node>
  <node pkg="arduino_imu_9dof" type="display_3D_visualization.py" name="display_3D_visualization_node" output="screen">
  </node>
</launch>
